.header{
    background-color: #003580;
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0 100px!important;
}
.headerContainer.listMode{
    margin: 20px 0 0px 0px!important;
}

.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 50px!important;
}

.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active{
    border: 1px solid white;
    padding: 10px!important;
    border-radius: 20px;
}

.headerDesc{
    margin: 20px 0!important;
}

.headerBtn{
    background-color: #0071c2;
    color: #fff;
    font-weight: 500;
    border: none;
    padding: 10px!important;
    cursor: pointer;
}

.headerSearch{
    height: 30px;
    background-color: #fff;
    border: 3px solid #e0e062;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px!important;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}

.headerIcon{
    color: lightgray;
}

.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerSearchInput{
    border: none;
    outline: none;
}
.headerSearchText{
    color: lightgray;
    cursor: pointer;
}

.date{
    position: absolute;
    top: 40px;
}
.options{
    position: absolute;
    top: 40px;
    background-color: #fff;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px!important;
}
.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #000;
}
.optionCounterButton{
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    background-color: #fff;
    color: #0071c2;
    cursor: pointer;
}

.optionCounterButton:disabled{
    cursor: not-allowed;
}

