.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.logo{
    font-weight: 500;
}

.navButton{
    margin-left: 20px!important;
    padding: 5px 10px!important;
    cursor: pointer;
    color: #003580;
    border: none;
}